#map 
{
  width: 99%;
  height: 500px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
     
html,
body 
{
  height: 100%;
  margin: 0;
  padding: 0;
}

#showDataIcon{
  height: 35px;
  position:absolute;
  top:85px;right:79px;
  width:30px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
}

#showDataIcon:hover{
  height: 32px;
  position:absolute;
  width:28px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  cursor: pointer;
}

#geocodeZip{
  height: 35px;
  position:absolute;
  top:85px;right:125px;
  width:30px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
}

#geocodeZip:hover{
  height: 32px;
  position:absolute;
  width:28px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  cursor: pointer;
}

#infoIMG:hover{
  width: 28px;
  border-style:solid;
  border-width:.5px; 
  border-color: lightgray;

}
